@model CartViewModel

@if (Model != null) 
{
    <p>Items in cart: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
    <p>Total: <strong>$@Model.TotalPrice.ToString("F2")</strong></p>
    <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">View Cart</a>
    <a href="#" class="btn btn-danger">Clear Cart</a>
}
else
{
    <p class="m-0">Your cart is empty.</p>
}