@model Shoepify.Web.Areas.Administration.Models.Sizes.SizeCreateInputModel

@{
    ViewData["Title"] = "Create a Size";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container form-page">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-5">
            <form class="mt-4 mb-4" asp-area="Administration" asp-controller="Sizes" asp-action="Create" method="post" enctype="multipart/form-data">
                <h2>Required fields</h2>
                <hr />
                <div class="form-floating mb-3">
                    <input asp-for="SizeInCm" class="form-control" autocomplete="size-in-cm" aria-required="true" placeholder="28" type="number" min="23" step="0.5" />
                    <label asp-for="SizeInCm" class="form-label">Size in cm</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="SizeEU" class="form-control" autocomplete="size-eu" aria-required="true" placeholder="44" type="number" min="36" step="0.5" />
                    <label asp-for="SizeEU" class="form-label">Size EU</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="SizeUS" class="form-control" autocomplete="size-us" aria-required="true" placeholder="10" type="number" min="4" step="0.5" />
                    <label asp-for="SizeUS" class="form-label">Size US</label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary mb-3" id="createButton">Create</button>
                </div>
            </form>
        </div>
    </div>
</main>
