@model Shoepify.Web.Areas.Administration.Models.Categories.CategoryCreateInputModel

@{
    ViewData["Title"] = "Create a Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container form-page">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-5">
            <form class="mt-4 mb-4" asp-area="Administration" asp-controller="Categories" asp-action="Create" method="post" enctype="multipart/form-data">
                <h2>Required fields</h2>
                <hr />
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Sport" />
                    <label asp-for="Name" class="form-label">Name</label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary mb-3" id="createButton">Create</button>
                </div>
            </form>
        </div>
    </div>
</main>