div.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site > main.container {
    flex-grow: 1;
}

.site > main.container.cart-container {
    max-width: 1680px;
}

header, header nav, footer {
    background-color: #4d4d4d;
    color: white;
}

header .navbar-brand {
    font-weight: 700;
    font-size: 1.3em;
}

ul.shoes-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5em;
    align-items: start;
    margin-top: 3em;
}

.shoes-list li.shoe {
    list-style: none outside;
    background-color: #f5f5f5;
    grid-column: span 2;
    border-radius: 0.3em;
    box-shadow: 0 0 0.7em 0 rgba(0,0,0,0.5);
    position: relative;
}

.shoes-list .shoe .media {
    display: block;
    overflow: hidden;
    position: relative;
}

.shoes-list .shoe .media a,
.shoes-list .shoe .media span,
.shoes-list .shoe .media img {
    display: block;
}

.shoes-list .shoe .media::before {
    display: block;
    content: '';
    padding-top: 60.25%;
}

.shoes-list .shoe .media > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.shoes-list .shoe .media span.shoe-image {
    position: relative;
}

.shoes-list .shoe .media img {
    position: absolute;
    top: -160px;
    height: auto;
    width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    transition: transform 0.2s ease-in;
}

.shoes-list .shoe .media:hover img {
    transform: scale(1.1);
}

.shoes-list .shoe .shoe-info span {
    display: block;
    padding: 0 10px;
    text-align: left;
}

.shoes-list .shoe .shoe-brand {
    font-size: 1.4em;
    font-weight: bold;
}

.shoes-list .shoe .shoe-colors {
    font-weight: lighter;
}

.shoes-list .shoe .shoe-price {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1rem;
}

main .row .cart {
    margin-right: 4em;
    margin-top: 3em;
    font-size: 1.2em;
}

main .row .cart > div {
    background-color: #22A39F;
}

.form-page {
    text-align: center;
}

.form-page > .row {
    justify-content: center;
}

.form-page form {
    border-radius: 0.5em;
    padding: 1em;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.6);
}

.form-page form input {
    transition: box-shadow 0.1s ease-in;
}

.form-page form input:hover,
.form-page form input:focus {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
}

.form-page form input:focus,
.form-page form button[type=submit]:focus {
    outline: none;
    border-color: transparent;
}